{{> admin/admin-header }}

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
{{!-- navigation --}}
{{> admin/admin-topNav }}

<div class="content-wrapper">
    {{{ body }}}
</div>

{{> admin/admin-footer }}
</body>

</html>